@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: dark;
  /* This will delay transition to the end */
  /* transition: all 0.3s;  */
  /* scrollbar-gutter: stable; */
}

body {
  --background: #0a0a0a;
  --foreground: #ededed;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* This will delay transition to the end */
  background-color: red;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 800;
  }
}

.button-bg::before {
  background: conic-gradient(
      from 0deg at 20px 40%,
      #4a4a4a00 50%,
      #0d0d0d66 60%,
      #4a4a4a00 73%
    ),
    conic-gradient(
      from 0deg at right 20px top 40%,
      #4a4a4a00 27%,
      #0d0d0d66 40%,
      #4a4a4a00 50%
    ),
    #3b3b3b;
}
.button-bg:active::before,
.button-bg[data-pressed="true"]::before {
  background: conic-gradient(
      from 0deg at 20px 40%,
      #4a4a4a00 50%,
      #0d0d0d66 60%,
      #4a4a4a00 73%
    ),
    conic-gradient(
      from 0deg at right 20px top 40%,
      #4a4a4a00 27%,
      #0d0d0d66 40%,
      #4a4a4a00 50%
    ),
    #333;
}

.glass {
  background: linear-gradient(45deg, #4441 50%, #fff1 50%, #1111);
  backdrop-filter: blur(0.4px);
  border-radius: 6px;
  box-shadow: inset 1px 1px 1px 0 #fff2, 1px 1px 1px 0 #000;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

a {
  @apply underline-offset-4 decoration-zinc-600;
}

.pcard-display {
  transition: all 1s ease-in-out;
  transform: rotateY(180deg);
  border-radius: 6px;
  box-shadow: 0 0 0 0px #fff;
}
.pcard-display.idle {
  animation: sway 1s linear infinite;
}

.pcard:hover > .pcard-display,
.pcard[data-hover="true"] > .pcard-display {
  transition: all 0.3s ease-in-out;
  transform: rotate(2deg) scale(1.05) translate(0, -14rem);
}

.pcard[data-adding="true"] .pcard-display {
  background-color: red;
  outline: 1px solid red;
  transition: none;
  transform: translate(0, 50vh) rotateY(80deg);
}

.top {
  z-index: 9999 !important;
}

.card {
  /* clip-path: inset(0 round 4px); */
  @apply transition-all duration-1000 will-change-transform transform-gpu
  w-[var(--width)] h-[var(--height)] text-xs tracking-tighter
   font-mono 
  flex items-center justify-center cursor-pointer select-none
  hover:bg-slate-50;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  html {
    scrollbar-width: thin;
    scrollbar-color: #50508033 #0000;
  }
  .sidebar-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #50508033 #0000;
  }
  html:is(.dark *) {
    scrollbar-width: thin;
    scrollbar-color: #50508033 #0000;
  }
  .sidebar-scrollbar:is(.dark *) {
    scrollbar-width: thin;
    scrollbar-color: #50508033 #0000;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements
  @supports selector(::-webkit-scrollbar) {
    body::-webkit-scrollbar {
      width: 0.5rem;
      background: #151519;
    }
    body::-webkit-scrollbar-thumb {
      background: #50508033;
      border-radius: 4px;
    }

    .sidebar-scrollbar::-webkit-scrollbar {
      width: 0.5rem;
      background: #151519;
    }
    .sidebar-scrollbar::-webkit-scrollbar-thumb {
      background: #50508033;
      border-radius: 4px;
    }
  } */

.magic-move-pre > * {
  text-rendering: geometricPrecision;
}

.heroui-bg {
  background: conic-gradient(
      from 0.5turn at 100% 0%,
      #000022,
      #00002200,
      10deg,
      #00002200
    ),
    conic-gradient(from 0.5turn at 0% 0%, #00002200, 350deg, #00002200, #000022);
  backdrop-filter: blur(0.4px);
  border-radius: 6px;
  box-shadow: inset 1px 1px 1px 0 #fff2, 1px 1px 1px 0 #000;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

.anchor-none {
  overflow-anchor: none;
}

/* --- Docs --------------------------------- */

.top-fade-mask {
  mask: linear-gradient(to bottom, #151519, #15151900);
  -webkit-mask: linear-gradient(to bottom, #151519, #15151900);
}
